.container{
    background-color: pink;
    padding: 20px;
    margin-left: 300px;
    margin-right: 400px;
    width: 440px;
    height: 400px;
    border-radius: 10px;
    margin: 100px;
}
h1{
    text-align: center;
}
form{
    margin-left: 110px;
}
input{
    padding:8px;
    border-radius: 5px;
    width: 200px;
}
body{
    margin-left: 600px;
    margin-right: 400px;
}
label{
    font-weight: bold;
}
.submit-btn{
    background-color: black; 
    color:white;
    width: 100px; 
    font-weight: bold;
}